[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Trying to create new repository
[access "refs/*"]
	owner = group user/swathi-dg
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/swathi-dg
	label-Verified = -1..+1 group user/swathi-dg
	push = group user/swathi-dg
	read = group user/swathi-dg
	rebase = group user/swathi-dg
	removeReviewer = group user/swathi-dg
	submit = group user/swathi-dg
[access "refs/heads/*"]
	create = group user/swathi-dg
	push = +force group user/swathi-dg
	pushMerge = group user/swathi-dg
	read = group user/swathi-dg
[access "refs/tags/*"]
	push = group user/swathi-dg
	push = +force group user/swathi-dg
